<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Menu Inicial</title>
</head>

<body class="d-flex align-items-center p-4 bg-body-tertiary">
    <main class="w-100 m-auto">
        <form>
            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" class="m-4" height="57"
                width="72" />
            <h1 class="h3 mb-3 fw-normal">Faça o Login</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="seu-email@gmail.com" />
                <label for="floatingInput">Usuário</label>
            </div>
            <div class="form-floating">
                <input type="senha" class="form-control" id="floatingInput" placeholder="senha" />
                <label for="floatingInput">Senha</label>
            </div class="form-check tex-start my-3">
            <input type="checkbox" class="form-check-input" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">Lembrar de mim</label>
            <div>

            </div>

        </form>

        <main>


</body>

</html>